{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
  {% for product_image in all_photo_product %}
    <div style="display:inline-block;">
        <span>
            <img src="{{product_image.image.url}}" width=100 height=100/ >
        </span>

        <span>
            <form action="{% url 'admin:delete_product_photo' pk=product_image.id product_id=product_image.product.id%}" method="POST">
            {% csrf_token %}
            <input type="image" src="{% static '/admin/img/icon-no.svg' %}" value='DELETE'/>
            </form>
        </span>
    </div>
  {% endfor %}
{{ block.super }}
{% endblock content %}
