{% extends 'users/base.html' %}
{% load static %}

{% block link-style %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}


<div class="page-content-login">
  <header class="section-header">
    <h1 class="section-header__title">LOGIN</h1>
  </header>

  <div class="login-container">
    <div class="login-content">
      <form action="{% url 'login' %}" id="customer-login" method="post">
        {% csrf_token %}

        <p class="login-item label-login">Email</p>
        <input type="email" class="login-item input-login" id="{{ form.email.id_for_label }}" aria-describedby="emailHelp" placeholder="Enter email" name="{{ form.username.html_name }}" value="{{ form.email.value }}">

        <div class="login-item password-item">
          <p class="label-login">Password</p>
          <a class="label-password-info" href="{% url 'password_reset' %}">Reset the password? </a>
        </div>

        <input type="password" class="login-item input-login" id="{{ form.password.id_for_label }}" value="{{ form.password.value }}" name="{{ form.password.html_name }}" placeholder="Password">

        <div class="login-item login-form-btn">
          <button type="submit" class="login-btn">LOG IN</button>
        </div>

        <a class="login-item create-account" href="{% url 'register' %}">Create an account</a>

      </form>
    </div>
  </div>
</div>

{% endblock %}
