{% extends 'users/base.html' %}
{% load static %}

{% block link-style %}
  <link href="{% static 'css/password-reset.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="page-content-reset-password">
  <div class="reset-password-container">

    <header class="section-header">
      <h1 class="section-header__title">RESET PASSWORD</h1>
    </header>

    <div class="reset-password-content">
      <form id="customer-reset-password" method="post">
        {% csrf_token %}

        <p class="reset-password-item label-reset-password">Email</p>
        <input type="email" class="reset-password-item input-reset-password" id="{{ form.email.id_for_label }}" aria-describedby="emailHelp" placeholder="email" name="{{ form.username.html_name }}">

        <div class="reset-password-item reset-password-form-btn">
          <button type="submit" class="reset-password-btn">SEND</button>
        </div>

        <a class="reset-password-item login" href="{% url 'login' %}">log in</a>

      </form>
    </div>
  </div>
</div>
{% endblock %}
