{% extends "users/base.html" %}


{% block content %}

<!--Profile-->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-3">
                 <img src="{{ user_profile.image.image.url }}" class="card-img-top" style="width: auto; height: 225px; object-fit: scale-down;">
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Name:</p>
                    <p>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                    <p>{{ user_profile.user.email }} </p>
					<p class="text-muted mb-0" style="font-size: 12px">Phone:</p>
                    <p>{{ user_profile.phone }} </p>
					<p class="text-muted mb-0" style="font-size: 12px">Age:</p>
                    <p>{{ user_profile.age }} </p>
					<p class="text-muted mb-0" style="font-size: 12px">Region:</p>
                    <p>{{ user_profile.region }} </p>
                </div>

				<a href="{% url 'users:profile_update' id=user_profile.id %}"><button class="btn btn-dark">Edit</button></a>

            </div>
        </div>

	</div>
</div>
{% endblock %}