{% extends 'users/base.html' %}
{% load static %}

{% block link-style %}
  <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="page-content-register">
  <div class="register-container">
    <header class="section-header">
    <h1 class="section-header__title">REGISTRATION</h1>
    </header>
    <div class="login-content">
      <form action="{% url 'register' %}"  id="customer-register" method="post">
        {% csrf_token %}
        {% for field in form %}
          <p class="register-item label-register">{{ field.label }}</p>
          {{ field }}
        {% endfor %}
<!--        <p class="register-item label-register">Email</p>-->
<!--        <input type="email" class="register-item input-register" id="{{ form.email.id_for_label }}" value="{{ form.email.value }}" aria-describedby="emailHelp" placeholder="email" name="{{ form.email.html_name }}">-->

<!--        <p class="register-item label-register">First name</p>-->
<!--        <input type="text" class="register-item input-register" id="{{ form.first_name.id_for_label }}"  value="{{ form.first_name.value }}"   name="{{ form.first_name.html_name }}" placeholder="first_name">-->

<!--        <p class="register-item label-register">Last name</p>-->
<!--        <input type="text" class="register-item input-register" id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value }}"  name="{{ form.last_name.html_name }}" placeholder="last_name">-->

<!--        <p class="register-item label-register">Birthday</p>-->
<!--        <input type="date" class="register-item input-register" id="{{ form.birthday.id_for_label }}" value="{{ form.birthday.value }}" name="{{ form.birthday.html_name }}" placeholder="birthday">-->

<!--        <p class="register-item label-register">Password</p>-->
<!--        <input type="password" class="register-item input-register" id="{{ form.password1.id_for_label }}" value="{{ form.password1.value }}" name="{{ form.password1.html_name }}" placeholder="Password">-->

<!--        <p class="register-item label-register">Confirm password</p>-->
<!--        <input type="password" class="register-item input-register" id="{{ form.password2.id_for_label }}" value="{{ form.password2.value }}" name="{{ form.password2.html_name }}" placeholder="Confirm password">-->

        <div class="register-item register-form-btn">
          <button type="submit" class="register-btn">REGISTER</button>
        </div>

        <a class="register-item login" href="{% url 'login' %}">log in</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
