{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Ordering</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Total price</th>
      <th scope="col">Count products</th>
      <th scope="col">Time create</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    {% for item in all_orders %}
        <tr>
          <th scope="row">{{ item.user }}</th>
<!--          <td>{{ item.price  }} RUB.</td>-->
          <td>{{ item.final_price }} RUB.</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.address }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<a href="{% url 'home' %}"><button class="btn btn-primary">Home</button></a>
{% endblock content %}