{% extends 'users/base.html' %}
{% load cart_tags %}
{% load static %}

{% block link-style %}
    <link href="{% static 'css/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 col-lg-9 pb-4">
    {% if products_all%}
    <h3 class="text-center mt-5 mb-5">Cart</h3>
    {% else %}
    <h3 class="text-center mt-5 mb-5">Your cart is empty</h3>
    {% endif %}
        <br>
        <div class="row">
            {% for product_in_cart in products_all|dictsort:"pk" %}
                <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                    <div class="h-100">

                        <a href="{{ product_in_cart.product.get_absolute_url }}">
                            <img src="{{ product_in_cart.product.product_file.filter.first.image.url }}" class="card-img-top" alt="{{ product_in_cart.product.title }}" style="width: auto; height: 225px; object-fit: scale-down;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title cart__item">{{ product_in_cart.product.title }}</h5>
                             <p data-product-cart-quantity="{{ product_in_cart.product.id }}" class="card-text text-muted cart__item product_cart_quantity" style="font-size:12px">{{product_in_cart.quantity}}</p>
                             <p class="card-text text-muted cart__item" style="font-size:12px">✕</p>
                             <p data-product_cart_total_quantity="{{ product_in_cart.product.id }}" class="card-text text-muted cart__item product_cart_total_quantity" style="font-size:12px">{% total_quantity product_in_cart.product.price product_in_cart.quantity%} RUB</p>
                            <div class="input-group quantity_goods">
                                <input type="hidden" id="url_diminish_product" data-url="{% url 'orders:diminish_product' %}" />
                                <button data-diminish-product="{{ product_in_cart.product.id }}" type="submit" class="btn btn-dark diminish_product"> - </button>

                                <p data-product-cart-quantity="{{ product_in_cart.product.id }}" class="card-text text-muted cart__item product_cart_quantity" style="font-size:25px">{{ product_in_cart.quantity}}</p>

                                <input type="hidden" id="url_increase_product" data-url="{% url 'orders:increase_product' %}" />
                                <button data-increase-product="{{ product_in_cart.product.id }}" type="submit" class="btn btn-dark increase_product"> + </button>
                            </div>

                            <form action="{% url 'orders:delete_product' product_id=product_in_cart.product.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary">Delete</button>
                            </form>
                        </div>

                    </div>
                </div>
            {% endfor %}

            {% if products_all %}
            <table class="table__cart">
              <tbody>
                    <tr>
                      <td colspan="2"></td>
                      <td class="table__cart__total cart__item">Total:</td>
                        <td class="cart__item"> <p class="table__cart__total__count">{{ total_count_product }}</p></td>
                      <td class="cart__item"><p class="table__cart__total__price">{{ total_price_product }} руб.</p></td>
                    </tr>
              </tbody>
            </table>

            {% endif %}
        </div>
</div>
{% endblock %}


{% block js_script%}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}