{% extends 'users/base.html' %}
<!--{% load cart_tags %}-->
{% load static %}

{% block link-style %}
    <link href="{% static 'css/reserved.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reserved__container">
    <div class="reserved__content">
      {% if products_all %}
          {% for product in products_all|dictsort:"pk" %}
            <table class="reserved__container__table">
              <tbody class="reserved__content__table">
                  <tr class="reserved__title__table">
                    <th scope="col" class="reserved__item__text">Name</th>
                    <th scope="col" class="reserved__item__text">Image</th>
                    <th scope="col" class="reserved__item__text">Price</th>
                    <th scope="col" class="reserved__item__text">Count</th>
                    <th scope="col" class="reserved__item__text">Time reserved</th>
                  </tr>
                  <tr class="reserved__column__table">
                      <td class="table__reserved__title_td table__reserved__top__element">
                           <h5 class="reserved__title">{{ product.product.title }}</h5>
                      </td>
                      <td class="table__reserved__top__element">
                          <a href="{{ product_in_cart.product.get_absolute_url }}">
                              <img src="{{ product.product.product_file.filter.first.image.url }}" class="reserved__img">
                          </a>
                      </td>
                      <td class="table__reserved__top__element">
                          <p class="reserved__item__text">{{ product.product.price }} RUB.</p>
                      </td>
                      <td class="table__reserved__top__element">
                          <p class="reserved__item__text product_cart_quantity">{{ product.quantity }}</p>
                      </td>
                      <td class="table__reserved__top__element">
                          <p class="reserved__item__text product_cart_quantity">{{ product.created_at }}</p>
                      </td>
                      <td rowspan="2" class="table__reserved__top__element">
                          <div class="delete__product__reserved">
                              <form action="{% url 'orders:deleting_reserved' product_id=product.product.id %}" method="POST">
                                  {% csrf_token %}
                                  <button class="btn btn-danger">Delete</button>
                              </form>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
          {% endfor %}
      {% else %}
        <h3 class="text-center mt-5 mb-5">No reserved products</h3>
      {% endif %}
    </div>
</div>
{% endblock %}
