{% extends 'users/base.html' %}
{% load product_tags %}
{% load static %}

{% block link-style %}
  <link href="{% static 'css/product_page_content.css' %}" rel="stylesheet">
  <link href="{% static 'css/filter_top.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main_content">
    <div class="filter_container">
        <div class="filter_content">
            <div class="filter_content_main">
                <form action="{% url 'products:filter' %}" method="get">
                    <div class="filter_content_type">
                        <p> Type:</p>
                        <select name="type" class="type_drop_down">
                            {% for type in view.get_type %}
                            <option name="{{ type.name }}" value="{{ type.name }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter_content_year">
                        <p> Year:</p>
                        <select name="year" class="year_drop_down">
                            {% for product in view.get_years %}
                                <option value="{{ product.year }}">{{ product.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                     <div class="filter_content_btn">
                         <button type="submit" class="filter_btn">Search</button>
                     </div>
                  </form>
            </div>
        </div>
    </div>
    <div class="products_container">
            {% for product in product|dictsort:"pk" %}
                {% include 'products/products.html' %}
            {% endfor %}
    </div>
    <a href="#x" class="overlay" id="reservation"></a>
       <div class="popup-reserve-product">
           <div class="popup-container-reserve-product">
               <form id="popup-form-reserve-product" method="POST">
                    {% csrf_token %}
                    <p id="notification_reserved" class="label-popup-reserve-product popup-item-reserve-product"></p>
                    <p class="popup-item-reserve-product label-popup-reserve-product">Enter the number of products you want to reserve</p>
                    <input type="number" class="popup-item-reserve-product input-popup-reserve-product" id="{{ form.quantity.id_for_label }}" placeholder="number of product" name="{{ form.quantity.html_name }}">

                    <div class="popup-item-reserve-product popup-form-reserve-product-btn">
                      <button type="submit" class="reserve-btn-popup-form">Reserved</button>
                    </div>
              </form>
           </div>
            <a class="close-reserve-product" title="close" href="#close"></a>
       </div>
</div>
{% endblock %}
