{% extends 'users/base.html' %}
{% load static %}

{% block search %}

<form action="{% url 'products:search' %}" method="get" class="d-flex editContent">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="search" id="search exampleInputPassword1" placeholder="Search a Product">
    </div>
    <button type="submit" class="btn btn-dark">
        <span class="fa fa-search">Search</span>
    </button>
</form>
{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-12 col-lg-9 pb-4">
    <div class="row">
            <div class="col-6 my-auto">
                <h2 class="font-weight-bold pt-4">Products</h2>
            </div>
    </div>

        <br>
        <div class="row">

            {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                    <div class="h-100">
                        <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.product_file.filter.first.image.url }}" class="card-img-top" alt="{{ product.title }}" style="width: auto; height: 225px; object-fit: scale-down;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text text-muted" style="font-size:12px">{{ product.price }}</p>
<!--                            <a href="{{ p.affiliate_url }}" class="btn btn-dark">Buy</a>-->
<!--                            <form action="{% url 'products:add_product'}">-->
<!--                                <input  name="product_id" value="{{product.id}}" id="product_id"/>-->
                               <a href="{% url 'products:add_to_cart' product_id=product.id %}">
								<button class="btn btn-dark">Add</button>
							</a>
<!--                            </form>-->
<!--                                 <a href="{{ p.affiliate_url }}" class="btn btn-dark">Add to cart</a>-->
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
</div>

{% endblock %}